<!DOCTYPE html>
<html>
   <head>
      <title>Soccer Weather</title>
      <meta charset="UTF-8">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
   </head>
   <body>
      <div style="padding:10px;border: 1px none black">
         <p style="color:rgb(140,140,140)" class="text-center"><a href = "http://www.wunderground.com/">
         <img class="img-responsive center-block" src="https://icons.wxug.com/logos/JPG/wundergroundLogo_4c_horz.jpg" alt="" width="180"></a>
         Last Run: Wed May  2 15:19:02 2018</p>
               <H1 style="color:rgb(0,0,0)" class="text-center">Game vs. CNS Fiore - CSC Field 4</H1>
               <H4 style="color:rgb(140,140,140)" class="text-left">Starts: Sat May  5 19:00:00 2018</H4>
               <H4 style="color:rgb(140,140,140)" class="text-left">Ends: Sat May  5 20:30:00 2018</H4>
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <th>Forecast Time</th>
                        <th>Summary</th>
                        <th>Temperture (°C)</th>
                        <th>Feels Like (°C)</th>
                        <th>POP (%)</th>
                        <th>Humidity (%)</th>
                        <th>UV</th>
                        <th>Wind (km/hr)</th>
                        <th>Wind Dir.</th>
                        <th>Cloud Cover (%)</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>06:00 PM</td>
                        <td>Mostly Cloudy</td>
                        <td>17</td>
                        <td>17</td>
                        <td>23</td>
                        <td>45</td>
                        <td>1</td>
                        <td>8</td>
                        <td>SSE</td>
                        <td>70</td>
                     </tr>
                     <tr>
                        <td>07:00 PM</td>
                        <td>Partly Cloudy</td>
                        <td>16</td>
                        <td>16</td>
                        <td>15</td>
                        <td>50</td>
                        <td>0</td>
                        <td>8</td>
                        <td>SSE</td>
                        <td>59</td>
                     </tr>
                     <tr>
                        <td>08:00 PM</td>
                        <td>Partly Cloudy</td>
                        <td>14</td>
                        <td>14</td>
                        <td>4</td>
                        <td>57</td>
                        <td>0</td>
                        <td>10</td>
                        <td>S</td>
                        <td>44</td>
                     </tr>
                     <tr>
                        <td>09:00 PM</td>
                        <td>Partly Cloudy</td>
                        <td>12</td>
                        <td>12</td>
                        <td>4</td>
                        <td>67</td>
                        <td>0</td>
                        <td>10</td>
                        <td>S</td>
                        <td>41</td>
                     </tr>
                  </tbody>
               </table>
               </style>
               <div class="container-fluid">
               	<div class="row">
               		<div class="col-xs-8" style="text-align:center"><canvas id="chartHTMLReportGenerator1"></canvas><p><small>Date/Time</small></p></div>
               		<div class="col-xs-4" id="legend_chartHTMLReportGenerator1" style="padding-left:75px;padding-top:25px"></div>
               	</div>
               </div>
               <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
               <script>
               Chart.types.Line.extend({
         name: "LineAlt",
         draw: function () {
         Chart.types.Line.prototype.draw.apply(this, arguments);
         var ctx = this.chart.ctx;
         ctx.save();
         ctx.textAlign = "center";
         ctx.textBaseline = "bottom";
         ctx.fillStyle = this.options.scaleFontColor;
         this.scale.xScalePaddingLeft=100;
         var x = this.scale.xScalePaddingLeft * 0.4;
         var y = this.chart.height / 2;
         ctx.translate(x, y);
         ctx.rotate(-90 * Math.PI / 180);
         ctx.fillText("Temp (C)", 0, 0);
         ctx.restore();
         }});
                  var ctx = document.getElementById("chartHTMLReportGenerator1").getContext("2d");
                  var data ={
           "labels":[
             "06:00 PM",
             "07:00 PM",
             "08:00 PM",
             "09:00 PM"
           ],
           "datasets":[
             {
               "label":"apparentTemperature",
               "strokeColor":"rgba(92,0,141,1)",
               "pointColor":"rgba(92,0,141,1)",
               "fillColor":"rgba(92,0,141,0)",
               "data":[
                 "17",
                 "16",
                 "14",
                 "12"
               ]
             },
             {
               "label":"temperature",
               "strokeColor":"rgba(252,49,18,1)",
               "pointColor":"rgba(252,49,18,1)",
               "fillColor":"rgba(252,49,18,0)",
               "data":[
                 "17",
                 "16",
                 "14",
                 "12"
               ]
             }
           ]
         };
                  var options = { responsive:true,
                  				  multiTooltipTemplate: "<%=datasetLabel%> : <%= value %>",
                    			      legendTemplate : '<% for (var i=0; i<datasets.length; i++) { %><div style=\"background-color:<%=datasets[i].fillColor%>;width:25px;height:25px;border-style:solid;border-color:<%=datasets[i].strokeColor%>;margin:5px\"><span style="color:rgba(0,0,0,0)">____</span><span><small><% if (datasets[i].label) { %><%= datasets[i].label %><% } %></small></span></div><% } %>'
                                   };
                  var MyNewChart = new Chart(ctx).LineAlt(data,options);
                  document.getElementById("legend_chartHTMLReportGenerator1").innerHTML=MyNewChart.generateLegend();
               </script>
               </style>
               <div class="container-fluid">
               	<div class="row">
               		<div class="col-xs-8" style="text-align:center"><canvas id="chartHTMLReportGenerator2"></canvas><p><small>Date/Time</small></p></div>
               		<div class="col-xs-4" id="legend_chartHTMLReportGenerator2" style="padding-left:75px;padding-top:25px"></div>
               	</div>
               </div>
               <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
               <script>
               Chart.types.Bar.extend({
         name: "BarAlt",
         draw: function () {
         Chart.types.Bar.prototype.draw.apply(this, arguments);
         var ctx = this.chart.ctx;
         ctx.save();
         ctx.textAlign = "center";
         ctx.textBaseline = "bottom";
         ctx.fillStyle = this.options.scaleFontColor;
         this.scale.xScalePaddingLeft=100;
         var x = this.scale.xScalePaddingLeft * 0.4;
         var y = this.chart.height / 2;
         ctx.translate(x, y);
         ctx.rotate(-90 * Math.PI / 180);
         ctx.fillText("Percentage (%)", 0, 0);
         ctx.restore();
         }});
                  var ctx = document.getElementById("chartHTMLReportGenerator2").getContext("2d");
                  var data ={
           "labels":[
             "06:00 PM",
             "07:00 PM",
             "08:00 PM",
             "09:00 PM"
           ],
           "datasets":[
             {
               "label":"precipProbability",
               "strokeColor":"rgba(0,0,255,1)",
               "fillColor":"rgba(0,0,255,0.5)",
               "data":[
                 "23",
                 "15",
                 "4",
                 "4"
               ]
             },
             {
               "label":"humidity",
               "strokeColor":"rgba(40,177,255,1)",
               "fillColor":"rgba(40,177,255,0.5)",
               "data":[
                 "45",
                 "50",
                 "57",
                 "67"
               ]
             },
             {
               "label":"cloudCover",
               "strokeColor":"rgba(233,37,255,1)",
               "fillColor":"rgba(233,37,255,0.5)",
               "data":[
                 "70",
                 "59",
                 "44",
                 "41"
               ]
             }
           ]
         };
                  var options = { responsive:true,
                  				  multiTooltipTemplate: "<%=datasetLabel%> : <%= value %>",
                    			      legendTemplate : '<% for (var i=0; i<datasets.length; i++) { %><div style=\"background-color:<%=datasets[i].fillColor%>;width:25px;height:25px;border-style:solid;border-color:<%=datasets[i].strokeColor%>;margin:5px\"><span style="color:rgba(0,0,0,0)">____</span><span><small><% if (datasets[i].label) { %><%= datasets[i].label %><% } %></small></span></div><% } %>'
                                   };
                  var MyNewChart = new Chart(ctx).BarAlt(data,options);
                  document.getElementById("legend_chartHTMLReportGenerator2").innerHTML=MyNewChart.generateLegend();
               </script>
         <hr style="border-width:5px ">
      </div>
      <div style="padding:10px;border: 1px none black">
         <p style="color:rgb(140,140,140)" class="text-center"><a href = "http://www.wunderground.com/">
         <img class="img-responsive center-block" src="https://icons.wxug.com/logos/JPG/wundergroundLogo_4c_horz.jpg" alt="" width="180"></a>
         Last Run: Wed May  2 15:19:02 2018</p>
               <H1 style="color:rgb(0,0,0)" class="text-center">Game vs. Calgary West SC GU 17 A - Shouldice  Stampeder (Shouldice Athletic Park)</H1>
               <H4 style="color:rgb(140,140,140)" class="text-left">Starts: Mon May  7 20:15:00 2018</H4>
               <H4 style="color:rgb(140,140,140)" class="text-left">Ends: Mon May  7 21:45:00 2018</H4>
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <th>Forecast Time</th>
                        <th>Summary</th>
                        <th>Temperture (°C)</th>
                        <th>Feels Like (°C)</th>
                        <th>POP (%)</th>
                        <th>Humidity (%)</th>
                        <th>UV</th>
                        <th>Wind (km/hr)</th>
                        <th>Wind Dir.</th>
                        <th>Cloud Cover (%)</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>07:00 PM</td>
                        <td>Mostly Cloudy</td>
                        <td>19</td>
                        <td>19</td>
                        <td>15</td>
                        <td>39</td>
                        <td>0</td>
                        <td>8</td>
                        <td>SSE</td>
                        <td>76</td>
                     </tr>
                     <tr>
                        <td>08:00 PM</td>
                        <td>Partly Cloudy</td>
                        <td>18</td>
                        <td>18</td>
                        <td>2</td>
                        <td>45</td>
                        <td>0</td>
                        <td>8</td>
                        <td>S</td>
                        <td>59</td>
                     </tr>
                     <tr>
                        <td>09:00 PM</td>
                        <td>Partly Cloudy</td>
                        <td>16</td>
                        <td>16</td>
                        <td>6</td>
                        <td>53</td>
                        <td>0</td>
                        <td>8</td>
                        <td>SSW</td>
                        <td>52</td>
                     </tr>
                     <tr>
                        <td>10:00 PM</td>
                        <td>Partly Cloudy</td>
                        <td>14</td>
                        <td>14</td>
                        <td>6</td>
                        <td>58</td>
                        <td>0</td>
                        <td>6</td>
                        <td>SSW</td>
                        <td>45</td>
                     </tr>
                  </tbody>
               </table>
               </style>
               <div class="container-fluid">
               	<div class="row">
               		<div class="col-xs-8" style="text-align:center"><canvas id="chartHTMLReportGenerator3"></canvas><p><small>Date/Time</small></p></div>
               		<div class="col-xs-4" id="legend_chartHTMLReportGenerator3" style="padding-left:75px;padding-top:25px"></div>
               	</div>
               </div>
               <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
               <script>
               Chart.types.Line.extend({
         name: "LineAlt",
         draw: function () {
         Chart.types.Line.prototype.draw.apply(this, arguments);
         var ctx = this.chart.ctx;
         ctx.save();
         ctx.textAlign = "center";
         ctx.textBaseline = "bottom";
         ctx.fillStyle = this.options.scaleFontColor;
         this.scale.xScalePaddingLeft=100;
         var x = this.scale.xScalePaddingLeft * 0.4;
         var y = this.chart.height / 2;
         ctx.translate(x, y);
         ctx.rotate(-90 * Math.PI / 180);
         ctx.fillText("Temp (C)", 0, 0);
         ctx.restore();
         }});
                  var ctx = document.getElementById("chartHTMLReportGenerator3").getContext("2d");
                  var data ={
           "labels":[
             "07:00 PM",
             "08:00 PM",
             "09:00 PM",
             "10:00 PM"
           ],
           "datasets":[
             {
               "label":"apparentTemperature",
               "strokeColor":"rgba(92,0,141,1)",
               "pointColor":"rgba(92,0,141,1)",
               "fillColor":"rgba(92,0,141,0)",
               "data":[
                 "19",
                 "18",
                 "16",
                 "14"
               ]
             },
             {
               "label":"temperature",
               "strokeColor":"rgba(252,49,18,1)",
               "pointColor":"rgba(252,49,18,1)",
               "fillColor":"rgba(252,49,18,0)",
               "data":[
                 "19",
                 "18",
                 "16",
                 "14"
               ]
             }
           ]
         };
                  var options = { responsive:true,
                  				  multiTooltipTemplate: "<%=datasetLabel%> : <%= value %>",
                    			      legendTemplate : '<% for (var i=0; i<datasets.length; i++) { %><div style=\"background-color:<%=datasets[i].fillColor%>;width:25px;height:25px;border-style:solid;border-color:<%=datasets[i].strokeColor%>;margin:5px\"><span style="color:rgba(0,0,0,0)">____</span><span><small><% if (datasets[i].label) { %><%= datasets[i].label %><% } %></small></span></div><% } %>'
                                   };
                  var MyNewChart = new Chart(ctx).LineAlt(data,options);
                  document.getElementById("legend_chartHTMLReportGenerator3").innerHTML=MyNewChart.generateLegend();
               </script>
               </style>
               <div class="container-fluid">
               	<div class="row">
               		<div class="col-xs-8" style="text-align:center"><canvas id="chartHTMLReportGenerator4"></canvas><p><small>Date/Time</small></p></div>
               		<div class="col-xs-4" id="legend_chartHTMLReportGenerator4" style="padding-left:75px;padding-top:25px"></div>
               	</div>
               </div>
               <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
               <script>
               Chart.types.Bar.extend({
         name: "BarAlt",
         draw: function () {
         Chart.types.Bar.prototype.draw.apply(this, arguments);
         var ctx = this.chart.ctx;
         ctx.save();
         ctx.textAlign = "center";
         ctx.textBaseline = "bottom";
         ctx.fillStyle = this.options.scaleFontColor;
         this.scale.xScalePaddingLeft=100;
         var x = this.scale.xScalePaddingLeft * 0.4;
         var y = this.chart.height / 2;
         ctx.translate(x, y);
         ctx.rotate(-90 * Math.PI / 180);
         ctx.fillText("Percentage (%)", 0, 0);
         ctx.restore();
         }});
                  var ctx = document.getElementById("chartHTMLReportGenerator4").getContext("2d");
                  var data ={
           "labels":[
             "07:00 PM",
             "08:00 PM",
             "09:00 PM",
             "10:00 PM"
           ],
           "datasets":[
             {
               "label":"precipProbability",
               "strokeColor":"rgba(0,0,255,1)",
               "fillColor":"rgba(0,0,255,0.5)",
               "data":[
                 "15",
                 "2",
                 "6",
                 "6"
               ]
             },
             {
               "label":"humidity",
               "strokeColor":"rgba(40,177,255,1)",
               "fillColor":"rgba(40,177,255,0.5)",
               "data":[
                 "39",
                 "45",
                 "53",
                 "58"
               ]
             },
             {
               "label":"cloudCover",
               "strokeColor":"rgba(233,37,255,1)",
               "fillColor":"rgba(233,37,255,0.5)",
               "data":[
                 "76",
                 "59",
                 "52",
                 "45"
               ]
             }
           ]
         };
                  var options = { responsive:true,
                  				  multiTooltipTemplate: "<%=datasetLabel%> : <%= value %>",
                    			      legendTemplate : '<% for (var i=0; i<datasets.length; i++) { %><div style=\"background-color:<%=datasets[i].fillColor%>;width:25px;height:25px;border-style:solid;border-color:<%=datasets[i].strokeColor%>;margin:5px\"><span style="color:rgba(0,0,0,0)">____</span><span><small><% if (datasets[i].label) { %><%= datasets[i].label %><% } %></small></span></div><% } %>'
                                   };
                  var MyNewChart = new Chart(ctx).BarAlt(data,options);
                  document.getElementById("legend_chartHTMLReportGenerator4").innerHTML=MyNewChart.generateLegend();
               </script>
         <hr style="border-width:5px ">
      </div>
      <div style="padding:10px;border: 1px none black">
         <p style="color:rgb(140,140,140)" class="text-center"><a href = "http://www.wunderground.com/">
         <img class="img-responsive center-block" src="https://icons.wxug.com/logos/JPG/wundergroundLogo_4c_horz.jpg" alt="" width="180"></a>
         Last Run: Wed May  2 15:19:02 2018</p>
               <H1 style="color:rgb(0,0,0)" class="text-center">Academy - Andrew Sibbald School</H1>
               <H4 style="color:rgb(140,140,140)" class="text-left">Starts: Tue May  8 19:30:00 2018</H4>
               <H4 style="color:rgb(140,140,140)" class="text-left">Ends: Tue May  8 21:00:00 2018</H4>
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <th>Forecast Time</th>
                        <th>Summary</th>
                        <th>Temperture (°C)</th>
                        <th>Feels Like (°C)</th>
                        <th>POP (%)</th>
                        <th>Humidity (%)</th>
                        <th>UV</th>
                        <th>Wind (km/hr)</th>
                        <th>Wind Dir.</th>
                        <th>Cloud Cover (%)</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>07:00 PM</td>
                        <td>Clear</td>
                        <td>21</td>
                        <td>21</td>
                        <td>0</td>
                        <td>36</td>
                        <td>1</td>
                        <td>13</td>
                        <td>SE</td>
                        <td>11</td>
                     </tr>
                     <tr>
                        <td>08:00 PM</td>
                        <td>Clear</td>
                        <td>20</td>
                        <td>20</td>
                        <td>1</td>
                        <td>42</td>
                        <td>0</td>
                        <td>11</td>
                        <td>SSE</td>
                        <td>12</td>
                     </tr>
                     <tr>
                        <td>09:00 PM</td>
                        <td>Clear</td>
                        <td>18</td>
                        <td>18</td>
                        <td>3</td>
                        <td>49</td>
                        <td>0</td>
                        <td>10</td>
                        <td>SSE</td>
                        <td>13</td>
                     </tr>
                  </tbody>
               </table>
               </style>
               <div class="container-fluid">
               	<div class="row">
               		<div class="col-xs-8" style="text-align:center"><canvas id="chartHTMLReportGenerator5"></canvas><p><small>Date/Time</small></p></div>
               		<div class="col-xs-4" id="legend_chartHTMLReportGenerator5" style="padding-left:75px;padding-top:25px"></div>
               	</div>
               </div>
               <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
               <script>
               Chart.types.Line.extend({
         name: "LineAlt",
         draw: function () {
         Chart.types.Line.prototype.draw.apply(this, arguments);
         var ctx = this.chart.ctx;
         ctx.save();
         ctx.textAlign = "center";
         ctx.textBaseline = "bottom";
         ctx.fillStyle = this.options.scaleFontColor;
         this.scale.xScalePaddingLeft=100;
         var x = this.scale.xScalePaddingLeft * 0.4;
         var y = this.chart.height / 2;
         ctx.translate(x, y);
         ctx.rotate(-90 * Math.PI / 180);
         ctx.fillText("Temp (C)", 0, 0);
         ctx.restore();
         }});
                  var ctx = document.getElementById("chartHTMLReportGenerator5").getContext("2d");
                  var data ={
           "labels":[
             "07:00 PM",
             "08:00 PM",
             "09:00 PM"
           ],
           "datasets":[
             {
               "label":"apparentTemperature",
               "strokeColor":"rgba(92,0,141,1)",
               "pointColor":"rgba(92,0,141,1)",
               "fillColor":"rgba(92,0,141,0)",
               "data":[
                 "21",
                 "20",
                 "18"
               ]
             },
             {
               "label":"temperature",
               "strokeColor":"rgba(252,49,18,1)",
               "pointColor":"rgba(252,49,18,1)",
               "fillColor":"rgba(252,49,18,0)",
               "data":[
                 "21",
                 "20",
                 "18"
               ]
             }
           ]
         };
                  var options = { responsive:true,
                  				  multiTooltipTemplate: "<%=datasetLabel%> : <%= value %>",
                    			      legendTemplate : '<% for (var i=0; i<datasets.length; i++) { %><div style=\"background-color:<%=datasets[i].fillColor%>;width:25px;height:25px;border-style:solid;border-color:<%=datasets[i].strokeColor%>;margin:5px\"><span style="color:rgba(0,0,0,0)">____</span><span><small><% if (datasets[i].label) { %><%= datasets[i].label %><% } %></small></span></div><% } %>'
                                   };
                  var MyNewChart = new Chart(ctx).LineAlt(data,options);
                  document.getElementById("legend_chartHTMLReportGenerator5").innerHTML=MyNewChart.generateLegend();
               </script>
               </style>
               <div class="container-fluid">
               	<div class="row">
               		<div class="col-xs-8" style="text-align:center"><canvas id="chartHTMLReportGenerator6"></canvas><p><small>Date/Time</small></p></div>
               		<div class="col-xs-4" id="legend_chartHTMLReportGenerator6" style="padding-left:75px;padding-top:25px"></div>
               	</div>
               </div>
               <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
               <script>
               Chart.types.Bar.extend({
         name: "BarAlt",
         draw: function () {
         Chart.types.Bar.prototype.draw.apply(this, arguments);
         var ctx = this.chart.ctx;
         ctx.save();
         ctx.textAlign = "center";
         ctx.textBaseline = "bottom";
         ctx.fillStyle = this.options.scaleFontColor;
         this.scale.xScalePaddingLeft=100;
         var x = this.scale.xScalePaddingLeft * 0.4;
         var y = this.chart.height / 2;
         ctx.translate(x, y);
         ctx.rotate(-90 * Math.PI / 180);
         ctx.fillText("Percentage (%)", 0, 0);
         ctx.restore();
         }});
                  var ctx = document.getElementById("chartHTMLReportGenerator6").getContext("2d");
                  var data ={
           "labels":[
             "07:00 PM",
             "08:00 PM",
             "09:00 PM"
           ],
           "datasets":[
             {
               "label":"precipProbability",
               "strokeColor":"rgba(0,0,255,1)",
               "fillColor":"rgba(0,0,255,0.5)",
               "data":[
                 "0",
                 "1",
                 "3"
               ]
             },
             {
               "label":"humidity",
               "strokeColor":"rgba(40,177,255,1)",
               "fillColor":"rgba(40,177,255,0.5)",
               "data":[
                 "36",
                 "42",
                 "49"
               ]
             },
             {
               "label":"cloudCover",
               "strokeColor":"rgba(233,37,255,1)",
               "fillColor":"rgba(233,37,255,0.5)",
               "data":[
                 "11",
                 "12",
                 "13"
               ]
             }
           ]
         };
                  var options = { responsive:true,
                  				  multiTooltipTemplate: "<%=datasetLabel%> : <%= value %>",
                    			      legendTemplate : '<% for (var i=0; i<datasets.length; i++) { %><div style=\"background-color:<%=datasets[i].fillColor%>;width:25px;height:25px;border-style:solid;border-color:<%=datasets[i].strokeColor%>;margin:5px\"><span style="color:rgba(0,0,0,0)">____</span><span><small><% if (datasets[i].label) { %><%= datasets[i].label %><% } %></small></span></div><% } %>'
                                   };
                  var MyNewChart = new Chart(ctx).BarAlt(data,options);
                  document.getElementById("legend_chartHTMLReportGenerator6").innerHTML=MyNewChart.generateLegend();
               </script>
         <hr style="border-width:5px ">
      </div>
   </body>
</html>

